main {
    h2{
        @include pageContainer;
        text-align:center;
        font-size: map-get($text-sizes , md );
        padding: 8rem 0;

    }
    div {
        @include pageContainer;
        display: flex;
        justify-content: center;
        iframe {
            margin: 0 auto;
            border-radius: 3rem;
        }
    }

    section {
            align-items: center;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-areas: "Imagen";
        
        img {
            width: 100%;
            border-radius: 4rem;
            padding: 0 1rem;
            grid-area: Imagen;
        }
        h1 {
            font-family: $font-primary;
            font-size: 7rem;
            text-shadow: 4px 0px 7px #000;
            text-align: center;
            color: #FFFFFF;
            text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px;
            align-items: center;
            grid-area: Imagen;    
        }
    }
    article  {
        @include pageContainer;
        padding-top: 6rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "Titulo Synth"
        "Texto Synth"; 
        h3 {
            font-size: map-get($text-sizes, md);
            grid-area: Titulo;
            text-align: center;
            align-self: center;
        } 
        p {
            font-size: map-get($text-sizes, sm);    
            grid-area: Texto;
            text-align: justify;
        }
        img {
            grid-area: Synth;
            width: 100%;

        } 
    }
    
}
