<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Papel Studio Recording</title>
</head>
<body>
    <header>
        <nav>
            <a href="../../../index.html">
                <img class="logo" src="../media/img/logo-studio.svg" alt="Studio Logo">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../views/studio.html">Studio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="../views/contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="contact">
        <h2 class="contact__title">Leave us your message and we will contact you soon!</h2>
        <form action="form">
            <div class="form__div">
            <label for="name">Your name</label>
            <input class="border" type="text" id="name" placeholder="Name">
            <label for="email">Your Email</label>
            <input class="border" type="email" id="email" placeholder="Your email">
            <label for="sevice">Why do you contact us?</label>
            <select class="border" name="service" id="service">
                <option value="record">Recording</option>
                <option value="rehearsal">Musical rehearsal</option>
                <option value="mixing">Mix and Mastering</option>
                <option value="other">Other</option>
            </select>
            <textarea name="text" id="text" cols="30" rows="10">Leave us your message</textarea>
            <div>
                <input class="buttom" type="submit" value="Submit">
                <input class="buttom" type="reset" value="Clear">
            </div>
            </div>    
        </form>
    </main>
    <footer>
        <div class="container">
            <a class="logo" href="../../../index.html">
            <img class="logo__foot" src="../media/img/logo-studio.svg" alt="logo studio">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="./assets/public/views/contact.html">Contact</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="https://www.instagram.com/entreperros_/">Instagram</a>
                </li>    
                <li class="menu__item">
                    <a class="menu__link" href="https://open.spotify.com/artist/4gyKdT8HV9uGvCTbRFA04M?si=4S97alK5RsK95MLhM4VSZQ">Spotify</a>
                </li>    
            </ul>
        </div>    
    </footer>
    
</body>
</html>