<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Papel Studio Recording</title>
</head>
<body>
    <header>
        <nav>
            <a href="../../../index.html">
                <img class="logo" src="../media/img/logo-studio.svg" alt="Studio Logo">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="../views/studio.html">Studio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="../views/contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="studio__grid">
                <img class="neve1" src="../media/img/Neve-Control-Room-looking-from-the-console.jpg
                " alt="">
                <img class="neve2" src="../media/img/Neve-Control-Room-looking-from-the-entrance.jpg" alt="">
                <img class="neve3" src="../media/img/Neve-Control-Room-looking-to-the-entrance-1.jpg" alt="">
                <img class="neve4" src="../media/img/Neve-Control-Room-looking-from-the-back.jpg" alt="">
                <img class="cole" src="../media/img/coles_4038.jpg" alt="">
                <img class="akg" src="../media/img/akg-c-12.jpg" alt="">
                <img class="drums" src="../media/img/1600x900-big_bass_drums.jpg" alt="">
                <img class="snare" src="../media/img/1600x1063-snares.jpg" alt="">
                <img class="piano" src="../media/img/1600x1050_kawaigrandpiano.jpg" alt="">
            
        </section>
    </main>
    <footer>
        <div class="container">
            <a class="logo" href="../../../index.html">
            <img class="logo__foot" src="../media/img/logo-studio.svg" alt="logo studio">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="./assets/public/views/contact.html">Contact</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="https://www.instagram.com/entreperros_/">Instagram</a>
                </li>    
                <li class="menu__item">
                    <a class="menu__link" href="https://open.spotify.com/artist/4gyKdT8HV9uGvCTbRFA04M?si=4S97alK5RsK95MLhM4VSZQ">Spotify</a>
                </li>    
            </ul>
        </div>    
    </footer>
</body>
</html>